apiVersion: k6.io/v1alpha1
kind: TestRun
metadata:
  name: kronos-loadtest
  namespace: {{ .Release.Namespace }}
spec:
  parallelism: 4
  runner:
    image: grafana/k6:latest
    env:
    - name: BASE_URL
      value: "{{ .Values.baseUrl }}"
    # Enable Prometheus Remote Write output
    - name: K6_OUT
      value: experimental-prometheus-rw
    # Prometheus Remote Write endpoint
    - name: K6_PROMETHEUS_RW_SERVER_URL
      value: http://alloy.{{ .Values.prometheusNamespace }}.svc.cluster.local:12345
    # Configure which trend stats to export (p95, p99, max, etc.)
    - name: K6_PROMETHEUS_RW_TREND_STATS
      value: "p(95),p(99),min,max,avg"
    # Optional: Enable trend as native histograms for better accuracy
    - name: K6_PROMETHEUS_RW_TREND_AS_NATIVE_HISTOGRAM
      value: "true"
  script:
    configMap:
      # We will pass the ConfigMap name from Terraform
      name: {{ .Values.configMapName }}
      file: loadtest.js
