apiVersion: k6.io/v1alpha1
kind: K6
metadata:
  name: kronos-loadtest
  namespace: {{ .Release.Namespace }}
spec:
  parallelism: 4
  arguments: "--vus 10 --duration 60s"
  runner:
    image: grafana/k6:latest
  script:
    configMap:
      # We will pass the ConfigMap name from Terraform
      name: {{ .Values.configMapName }}
      file: loadtest.js
  env:
    - name: BASE_URL
      value: "{{ .Values.baseUrl }}"