name: Build, Provision Cloud Infrastructure for and Deploy Application

# This workflow will run on pushes to the main branch and manual triggers
on:
  # push:
  #   branches:
  #     - main
  workflow_dispatch:  

jobs:
  changes:
    runs-on: ubuntu-latest
    # Record file state
    outputs:
      backend: ${{ steps.filter.outputs.backend }}
      frontend: ${{ steps.filter.outputs.frontend }}
    steps:
      - name: Checkout current Github repository
        uses: actions/checkout@v4
      - name: Detect changed paths
        uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            backend:
              - 'backend/**'
            frontend:
              - 'frontend/**'
  build-backend:
    needs: changes
    if: ${{ needs.changes.outputs.backend == 'true' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout current Github repository
        uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build and load backend Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          load: true
          tags: kronos-backend:${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
      - name: Test backend container
        run: |
          # Create a user-defined network (once)
          docker network create kronos-net 2>/dev/null || true

          # Start Postgres on that network
          docker run -d --name kronos-pg --network kronos-net \
            -e POSTGRES_DB=kronos \
            -e POSTGRES_USER=app \
            -e POSTGRES_PASSWORD=dev-password \
            -p 5432:5432 \
            postgres:15-alpine

          # Start backend on the same network; use container DNS name
          docker run -d --name backend-test --network kronos-net \
            -e DB_HOST=kronos-pg \
            -e DB_PASSWORD=dev-password \
            -p 5000:5000 \
            kronos-backend:${{ github.sha }}
          
          sleep 5

          echo "Checking Health endpoint"
          curl --fail http://localhost:5000/health || (docker logs backend-test && exit 1)


          echo "Checking API endpoint"
          curl --fail http://localhost:5000/world-clocks || (docker logs backend-test && exit 1)

          docker stop backend-test
          docker rm backend-test
      - name: Push to Docker Hub
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          push: true
          tags: |
            victorthegreat7/kronos-backend:${{ github.sha }}
            victorthegreat7/kronos-backend:latest
          cache-from: type=gha

  build-frontend:
    needs: changes
    if: ${{ needs.changes.outputs.frontend == 'true' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout current Github repository
        uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build and load backend Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./frontend
          load: true
          tags: kronos-frontend:${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
      - name: Test frontend container
        run: |
          docker run -d -p 8080:80 --name frontend-test kronos-frontend:${{ github.sha }}

          sleep 5

          echo "Checking Health endpoint"
          curl --fail http://localhost:8080/health || (docker logs frontend-test && exit 1)

          docker stop frontend-test
          docker rm frontend-test
      - name: Push to Docker Hub
        uses: docker/build-push-action@v5
        with:
          context: ./frontend
          push: true
          tags: |
            victorthegreat7/kronos-frontend:${{ github.sha }}
            victorthegreat7/kronos-frontend:latest
          cache-from: type=gha

  provision-and-build:
    needs: [build-backend, build-frontend]
    if: ${{ always() && (needs.build-backend.result == 'skipped' || needs.build-backend.result == 'success') && (needs.build-frontend.result == 'skipped' || needs.build-frontend.result == 'success') }}
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout current Github repository
        uses: actions/checkout@v4
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}
      - name: Install doctl
        uses: digitalocean/action-doctl@v2
        with:
          token: ${{ secrets.DO_API_TOKEN }}
      - name: Cache Terraform Plugin Dir
        uses: actions/cache@v3
        with:
          path: ~/.terraform.d/plugin-cache
          key: terraform-plugin-cache-${{ runner.os }}-${{ hashFiles('terraform/.terraform.lock.hcl') }}
          restore-keys: |
            terraform-plugin-cache-${{ runner.os }}-
      - name: Apply Terraform configuration
        env:
          TF_TOKEN_app_terraform_io: ${{ secrets.TF_API_TOKEN }}
          DIGITALOCEAN_API_TOKEN: ${{ secrets.DO_API_TOKEN }}
          CLOUDFLARE_TOKEN: ${{ secrets.CLOUDFLARE_TOKEN }}
          CLOUDFLARE_ZONE_ID: ${{ secrets.CLOUDFLARE_ZONE_ID }}
        run: |
          mkdir -p ~/.terraform.d/plugin-cache
          echo 'plugin_cache_dir   = "$HOME/.terraform.d/plugin-cache"' > ~/.terraformrc

          terraform init
          terraform validate

          cat <<EOF > terraform.tfvars.json
          {
            "do_token": "$DIGITALOCEAN_API_TOKEN",  
            "cloudflare_api_token": "$CLOUDFLARE_TOKEN",
            "cloudflare_zone_id": "$CLOUDFLARE_ZONE_ID"
          }
          EOF

          terraform apply --auto-approve
        working-directory: ./terraform
      - name: Commit Terraform Lock File
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "chore: update terraform.lock.hcl"
          file_pattern: "terraform/.terraform.lock.hcl"
          commit_user_name: "github-actions[bot]"
          commit_user_email: "github-actions[bot]@users.noreply.github.com"
